{% extends 'admin_main.html' %}
{% block content %}
<div class="container">
  <div class="row justify-content-center">
      <div class="col-lg-5">
              <div class="card-body">
                <h2>Assign Accomodation to Package</h2>
                   <form action="" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-floating mb-3">
                      <select class="form-control" name="hotel">
                        {% for hotel in hotels %}
                        <option>{{hotel.name}}</option>
                        {% endfor %}
                      </select>
                      <label>Hotel</label>
                  </div>
                    <div class="form-floating mb-3">
                      <select class="form-control" name="package">
                        {% for package in packages %}
                        <option>{{package.name}}</option>
                        {% endfor %}
                      </select>
                      <label>Package</label>
                  </div>
                      <div class="d-flex align-items-center justify-content-between mt-4 mb-0">
                          
                          <input class="form-control" type="submit" value="register" style="background-color: #333; color: #ccc">
                      </div>
                  </form> 
    {% endblock content %}