{% extends 'client_main.html' %}
{% load static %}
{% block content %}
<div class="site-header">
  <div class="container">
      <div class="main-header">
          <div class="row">
              <div class="col-md-4 col-sm-6 col-xs-10">
                  <div class="logo">
                      <a href="#">
                          <img src="{% static 'images/logo.png' %}" alt="travel html5 template" title="travel html5 template">
                      </a>
                  </div> <!-- /.logo -->
              </div> <!-- /.col-md-4 -->
              <div class="col-md-8 col-sm-6 col-xs-2">
                  <div class="main-menu">
                      <ul class="visible-lg visible-md">
                        <li><a href="{% url 'index' %}">Home</a></li>
                        <li><a href="{% url 'services' %}">Services</a></li>
                        <li><a href="{% url 'events' %}">Events</a></li>
                        <li><a href="{% url 'about' %}">About Us</a></li>
                        <li class="active"><a href="{% url 'testimonials' %}">Testimonial</a></li>
                        {% if request.user.is_authenticated %}
                                    <li><a href="{% url 'logout' %}">Logout</a></li>
                                    {% endif %}
                      </ul>
                      <a href="#" class="toggle-menu visible-sm visible-xs">
                          <i class="fa fa-bars"></i>
                      </a>
                  </div> <!-- /.main-menu -->
              </div> <!-- /.col-md-8 -->
          </div> <!-- /.row -->
      </div> <!-- /.main-header -->
      <div class="row">
          <div class="col-md-12 visible-sm visible-xs">
              <div class="menu-responsive">
                  <ul>
                      <li><a href="{% url 'index' %}">Home</a></li>
                      <li><a href="{% url 'services' %}">Services</a></li>
                      <li><a href="{% url 'events' %}">Events</a></li>
                      <li><a href="{% url 'about' %}">About Us</a></li>
                      <li class="active"><a href="{% url 'testimonials' %}">Testimonial</a></li>
                      {% if request.user.is_authenticated %}
                                    <li><a href="{% url 'logout' %}">Logout</a></li>
                                    {% endif %}
                  </ul>
              </div> <!-- /.menu-responsive -->
          </div> <!-- /.col-md-12 -->
      </div> <!-- /.row -->
  </div> <!-- /.container -->
</div> <!-- /.site-header -->

<div class="page-top" id="templatemo_contact">
</div> <!-- /.page-header -->

<div class="contact-page">
  <div class="container">
      <div class="row">
          <div class="col-md-7 col-sm-6 map-wrapper">
              <h3 class="widget-title">Our Location</h3>
              <div class="map-holder"></div>
              <div class="contact-infos">
                  <ul>
                      <li>987 Nay Yar Street, Analog Estate</li>
                      <li>Yangon 10440, Myanmar</li>
                      <li>Tel: 090-090-0880</li>
                      <li>Email: <a href="mailto:info@company.com">info@company.com</a></li>
                  </ul>
              </div>
          </div>
          <div class="col-md-5 col-sm-6">
              <h3 class="widget-title">Testimonial Form</h3>
              <div class="contact-form">
                  <form id="contactform" action="" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                      <p>
                        <input name="image" class="form-control" type="file" />
                      </p>
                      <p>
                          <input name="message" type="text" id="subject" placeholder="Testimonial..."> 
                      </p>
                      <p>
                        <input name="companyId" type="hidden" id="name" value={{companyId}}>
                    </p>
                      <p>
                        <input name="userId" type="hidden" id="name" value={{user.id}}>
                    </p>
                      <input type="submit" class="mainBtn" id="submit" value="Add Testimonial">
                  </form>
              </div> <!-- /.contact-form -->
          </div>
      </div>
  </div>
</div>

{% endblock content %}